@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #F7F4E9;
    color: #E40C2B;
    text-align: center;
    font-family: Asap, sans-serif;
    font-size: 30px;
    padding: 20px;
}

body {
    background: #1D1D2C;
    color: white;
    text-align: center;
    font-family: Asap, sans-serif;
    font-size: 18px;
}

.bpm {
    margin: 20px;
}

.label-bpm {
    padding-bottom: 10px;
    font-size: 30px;
}

.slider-bpm:hover {
    cursor: pointer;
}

.playpause {
    cursor: pointer;
    background-color: #438945;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px;
}

