@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #F7F4E9;
    color: #E40C2B;
    text-align: center;
    font-family: Asap, sans-serif;
    font-size: 30px;
    padding: 20px;
}

body {
    background: #1D1D2C;
    color: white;
    text-align: center;
    font-family: Asap, sans-serif;
    font-size: 18px;
}

.bpm {
    margin: 20px;
}

.label-bpm {
    color: #438945;
    padding-bottom: 10px;
    font-size: 40px;
}

#number-bpm {
    font-size: 60px;
}

#bezeichnung-bpm-italienisch {
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 20px;
}

#slider-bpm {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    background: #F7F4E9;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
    border-radius: 10px;
}
#slider-bpm::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #438945;
    cursor: pointer;
    border-radius: 50%;
    transition: background .3s ease-in-out;
}
#slider-bpm::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #438945;
    cursor: pointer;
    border-radius: 50%;
    transition: background .3s ease-in-out;
}

.playpause-button {
    position: relative;
    margin: 20px;
}

#play-img {
    position: absolute;
    background: #438945;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 2px;
    transition: background .7s ease-in-out;
}

#pause-img {
    background: #438945;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 2px;
    transition: background .7s ease-in-out;
}

.Einstellungen {
    transition: opacity .15s ease-in-out;
    width: 240px;
    margin: 0 auto;
    text-align: left;
    padding-top: 20px;
}
#erster-beat {
    display: flex;
    justify-content: left;
    align-items: left;
}
#erster-beat-label {
    position: relative;
    left: 35px;
    bottom: 20px;
}
#spracheingabe {
    
    display: flex;
    justify-content: left;
    align-items: left;
}
#spracheingabe-label {
    margin-top: 15px;
    position: relative;
    left: 35px;
    bottom: 20px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #438945;
}



