@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #F7F4E9;
    text-align: center;
    padding: 8px;
    width: 100%;
}

body {
    background: #1D1D2C;
    color: white;
    text-align: center;
    font-family: Asap, sans-serif;
    font-size: 18px;
}

footer {
    background: #12121c;
    margin-top: 20px;
    height: 150px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    /* position: absolute;
    bottom: 0%; */
}

#logo-img {
    height: 90px;
    max-width: 90%;
} 

.bpm {
    margin: 20px;
}

h2 {
    color: #438945;
    padding-bottom: 10px;
    font-size: 40px;
}

#number-bpm {
    font-size: 60px;
}

#bezeichnung-bpm-italienisch {
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 20px;
}

#slider-bpm {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    background: #F7F4E9;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
    border-radius: 10px;
}
#slider-bpm::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #438945;
    cursor: pointer;
    border-radius: 50%;
    transition: background .3s ease-in-out;
}
#slider-bpm::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #438945;
    cursor: pointer;
    border-radius: 50%;
    transition: background .3s ease-in-out;
}

.playpause-button {
    position: relative;
    margin: 20px;
}

#play-img {
    position: absolute;
    background: #438945;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 2px;
    transition: background .7s ease-in-out;
}

#pause-img {
    background: #438945;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 2px;
    transition: background .7s ease-in-out;
}


.schläger-zähler-interface {
    display: flex;
    justify-content: center;
    align-items: center;
}
#number-schläge {
    font-size: 2.4rem;
    margin: 0 15px;
    display: inline-block;
    text-align: center;
    width: 40px;
}
.minus-schläge-button {
    width: 40px;
    height: 40px;
    border: 1px solid #F7F4E9;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.2rem;
    background: #F7F4E9;
} 
.minus {
    position: relative;
    top: -3px;
}
.plus-schläge-button {
    width: 40px;
    height: 40px;
    border: 1px solid #F7F4E9;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.2rem;
    background: #F7F4E9;
} 
.plus {
    position: relative;
    top: -3px; 
}

.Einstellungen {
    transition: opacity .15s ease-in-out;
    width: 180px;
    margin: 0 auto;
    text-align: left;
    padding-top: 20px;
}
#erster-beat {
    display: flex;
    justify-content: left;
    align-items: left;
}
#erster-beat-label {
    position: relative;
    left: 35px;
    bottom: 20px;
}
#spracheingabe {
    display: flex;
    justify-content: left;
    align-items: left;
}
#spracheingabe-label {
    margin-top: 15px;
    position: relative;
    left: 35px;
    bottom: 20px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #438945;
}

#öffnen-sprachbefehle {
    position: relative;
    top: 10px;
    cursor: pointer;
}

#link-github {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none !important;
    position: relative;
    top: 25px;
}

.popup {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
.popup .overlay {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.5);
}
.popup .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) scale(1.15);
    width: 95%;
    max-width: 350px;
    background:#F7F4E9;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.popup .popup-content h2 {
    font-size: 30px;
    color:#438945;
    margin-bottom: 10px;
}
.popup .popup-content button {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    left: 85%;
    bottom: 80%;
    background-color: #e40c2c45;
}

