@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: black;
    color: white;
    text-align: center;
    font-family: Asap, sans-serif;
    padding: 20px;
}

body {
    background: #24272E;
    color: white;
    text-align: center;
    font-family: Asap, sans-serif;
}

.bpm {
    margin: 20px;
}

.slider-bpm:hover {
    cursor: pointer;
}

.playpause {
    cursor: pointer;
    background-color: orangered;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px;
}

